:root {
  --background: #050b1a;
  --foreground: #f8fafc;
  --card: #0f172a;
  --card-foreground: #f8fafc;
  --popover: #050b1a;
  --popover-foreground: #f8fafc;
  --primary: #c0c0c8;
  --primary-foreground: #050b1a;
  --secondary: #1e293b;
  --secondary-foreground: #f8fafc;
  --muted: #334155;
  --muted-foreground: #94a3b8;
  --accent: #c0c0c8;
  --accent-foreground: #050b1a;
  --destructive: #7f1d1d;
  --destructive-foreground: #f8fafc;
  --border: #334155;
  --input: #1e293b;
  --ring: #c0c0c8;
  --radius: 0rem;
  --font-size: 16px;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --chart-1: #c0c0c8;
  --chart-2: #475569;
  --chart-3: #94a3b8;
  --chart-4: #cbd5e1;
  --chart-5: #f1f5f9;
  --input-background: #2d2d2d;
  --switch-background: #cbced4;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: #030213;
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
}
